.navbar {
  background: linear-gradient(135deg, #ff4d4d 0%, #d90429 50%, #7a0010 100%);

  backdrop-filter: blur(10px);
}
.offcanvas{
     background: linear-gradient(135deg, #ff4d4d 0%, #d90429 50%, #7a0010 100%);
}
h3{
  margin-top: 139px;
  text-align: center;
}
.players{
 text-align: center;

 background: linear-gradient(135deg, #ff4d4d 0%, #d90429 50%, #7a0010 100%);
 color: white;
}
.carousel{
  margin: 50%;
}